{{ define "header" }}
<header class="homepage">
  {{ partial "navbar.html" . }}
  <section class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <h1><span class="green">Eclipse</span> <span class="green">CogniCrypt</span></h1>
        <p>Eclipse CogniCrypt is an intelligent open-source platform ensuring the secure usage of crypto components.</p>
      </div>
    </div>
  </section>
    <!-- <section class="header-divider">
    <img src="assets/images/header-divider.png" alt="divider">
  </section>-->
</header>
{{ end }}


{{ define "main" }}
<main class="main">
  <section class="first">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
        <h3><span class="green">{{ .Title }}</span></h3>        	
        </div>
      </div>
    </div>
  </section>
  <section class="second">
    <div class="container">
        <div class="col-md-10">
    		{{ .Content }}
      </div>
    </div>
  </section>
  <section class="third">
    <div class="container">
      <div class="row">
        <div class="col-md-8 logos">
          <div class="row" style="margin-top:-37px;">
            {{ range where ( where .Site.RegularPages.ByTitle  "Section" "member" ) ".Params.is_steering" "==" true }}
            <div class="col-md-4 col-xs-6 sc-member" style="padding:20px 60px; display:none;">
              <div style="height: 120px; line-height: 120px; ">
                <a href="{{ .Params.more_url }}" target="_blank">
                <!--<a href="http://eclipse.org/membership/showMember.php?member_id={{ .Params.member_id }}" target="_blank">-->
                <img src="/assets/images/members/logo-{{ .Params.logo }}.png" class="img-responsive" alt="logo-{{ .Title}}" style="max-height:110px; display:inline-block; vertical-align:middle;">
                </a>
              </div>
            </div>
            {{ end }}
            {{ range where ( where .Site.RegularPages.ByTitle  "Section" "member" ) ".Params.is_steering" "==" false }}
            <div class="col-md-4 col-xs-6 regular-member" style="padding:20px 60px; display:none;">
              <div style="height: 120px; line-height: 120px; ">
                <a href="{{ .Params.more_url }}" target="_blank">
                <!--<a href="http://eclipse.org/membership/showMember.php?member_id={{ .Params.member_id }}" target="_blank">-->
                <img src="/assets/images/members/logo-{{ .Params.logo }}.png" class="img-responsive" alt="logo-{{ .Title}}" style="max-height:110px; display:inline-block; vertical-align:middle;">
                </a>
              </div>
            </div>
            {{ end }}
            <div class="col-md-4 col-xs-6" style="padding:20px 60px;">
              <a id="link-link-more-members" href="/working-group#members">
                <div id="link-more-members" style="font-size: 1.5em; height: 120px; line-height: 1.2em; margin-top: 30px;">
                </div>
              </a>
            </div>
            <!-- <div class="col-md-12">
              <p class="align-center"><a href="/ecosystem.html" class="btn btn-primary">More</a>
              </p>
              </div>
              -->
          </div>
        </div>    
        <section class="working-group col-md-4 line-divider-left">
          <h1 class="green">Main Contributors</h1>
          <p>CogniCrypt originated in TU Darmstadt's <a href="https://www.crossing.tu-darmstadt.de/crc_1119/index.en.jsp" target="_blank">Collaborative Research Center CROSSING</a> but by now its development is managed in an international collaboration between several research institutes. <a href="/contributing"><strong>Join Us</strong></a>!
          </p>
          <p><a href="/contributing" class="btn btn-primary">Ecosystem</a>
          </p>
        </section>
      </div>
    </div>
  </section>
</main>
{{ end }}

{{ define "footer-suffix" }}
  <script src="js/shuffle.js"></script>
  <script src="js/index.js"></script>
{{ end }}